html, body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    background-color: #119DA4;
  }

  .welcome {
    text-align: center;
    font-size: 36px;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 80px;
  }
  
  nav {
    background-color: #0C7489;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
  }
  
  .title h1 {
    margin: 0;
    color: white;
    font-size: 40px; 
    list-style: none;
    text-decoration: none;
  }
  
  .title a {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  
  .blue-rect {
    background-color: #0C7489;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    text-align: center;
    width: 50%;
    margin-top: -5px;
    margin: auto;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-size: 30px;
}
  .center p {
    text-align: center;
    margin: 50px 0;
}

  .card-2 {
    max-width: 1000px;
    margin: auto;
    padding: 50px;
    display: flex;
    gap: 20px;
    background: #0a6577;
    margin-bottom: 120px;
  }

  .card-2 .img {
    width: 30%;
  }

  .card-2 .testo{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }

  .card-2 .testo2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .card-2 .testo h2 .card-2 .testo p{
    margin: 0;
  }


  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  .grid {
    margin: 10px auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 80px;
  }

  main {
    flex: 1;
  }
  
  main img {
    width: 100%;
    height: auto;
  }
  
  main div.card {
    background: none;
    border-radius: 10px;
  }
  
  main div.card img {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 400px;
    width: 87.5%;
    margin: 0 10px;
  }
  
  main div img {
    border-radius: 50px;
  }
  
  main div.card h2 {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  main div.card p {
    margin: 0;
    padding: 5 20px 20px 20px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  main div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: auto;
    margin: 20px auto;
  }

  img {
    order: 1;
    margin-right: 20px;
    border: 15px solid #0C7489;
    border-radius: 25px;
    padding: 0px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  figcaption {
    order: 2;
    margin-left: 20px;
    font-style: italic;
    text-align: left;
    font-size: 18px;
    border: 10px solid #0C7489;
    border-radius: 15px;
    padding: 15px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 250px;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
  }

  .grid-item {
    border: 10px solid #0C7489;
    border-radius: 5px;
    padding: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
    text-align: center;   
  }
  
  footer {
    background-color: #0C7489;
    text-align: center;
    padding: 0;
    flex-shrink: 0;
    height: 80px;
    border-bottom: none;
    
  }
  
  footer p {
    display: inline;
    background-color: #0C7489;
    border-top: 0px solid rgba(0, 0, 0, 0.1);
    margin: 0 40px;
    font-size: 36px;
    color: white;
    height: 100px;
  }

  footer a{
    list-style: none;
    text-decoration: none;
    color: white;
  }
  
  @media (max-width: 1080px) {
    body {
      background: #119DA4;
    }
    .card-2{
      flex-direction: column;
    }

    .card-2 .testo {
      width: 100%;
    }

    .card-2 .img{
      width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .blue-rect {
      background-color: #0C7489;
      padding: 20px;
      border-radius: 0px 0px 10px 10px;
      color: white;
      text-align: center;
      width: 85%;
      margin-top: -5px;
      margin: 0 auto;
    }
}

@media  (max-width: 480px) {
  body {
    background: #119DA4;
  }  
  .center {
    font-size: 24px;
  }
  .center p {
    margin: 20px 0;
  }
  .blue-rect {
    background-color: #0C7489;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    text-align: center;
    width: 50%;
    margin-top: -5px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  body {
    background: #119DA4;
  }
  .card-2{
    flex-direction: column;
  }

  .card-2 .testo {
    width: 100%;
  }

  .card-2 .img{
    width: 100%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .title h1 {
    font-size: 30px;
  }

  main div.card h2 {
    font-size: 16px;
  }

  main div.card p {
    font-size: 12px;
  }

  .center {
    font-size: 36px;
  }
  .center p {
    margin: 30px 0;
  }
  @media only screen and (max-width: 768px) {
    .center {
      font-size: 1.5em;
    }
    main div.card {
      background: none;
      border-radius: 10px;
      margin: 0 auto;
    }

    main div.card img {
      border-radius: 5px 5px 0 0;
      object-fit: cover;
      height: 400px;
      width: 100%;
      margin: 0 46px;
    }

    .card-2 .img {
      margin: 0 auto;
      width: 65%;    
    }
    img {
      max-width: 75%;
      height: auto;
      margin: 0 auto;
    }

    figure{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
    figcaption {
      order: 2;
      margin-top: 15px;
      margin: 0 auto;
      font-style: italic;
      text-align: left;
      font-size: 1.5em;
      border: 10px solid #0C7489;
      border-radius: 15px;
      padding: 15px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .center {
      font-size: 1em;
    }
    main div.card {
      background: none;
      border-radius: 10px;
      margin: 0 auto;
    }
    main div.card img {
      border-radius: 5px 5px 0 0;
      object-fit: cover;
      height: 400px;
      width: 100%;
      margin: 0 46px;
    }

    .card-2 .img {
      margin: 0 auto;
      width: 35%;
      
    }
    img {
      max-width: 50%;
      height: auto;
      margin: 0 auto;
    }

    figure{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    figcaption {
      order: 2;
      margin-top: 15px;
      margin: 0 auto;
      font-style: italic;
      text-align: left;
      font-size: 1em;
      border: 10px solid #0C7489;
      border-radius: 15px;
      padding: 15px;
    }
  }
  .blue-rect {
    background-color: #0C7489;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    text-align: center;
    width: 45%;
    margin-top: -5px;
    margin: auto;
  }
}